@media (max-width:600px){
    #restart{
           margin: 61vh 56vw;
    }
    h1{
        font-size: 51px;
    }
    .cercificat p{
        font-size: 40px;
    }
    .date p{
        font-size: 23px ;
    }
}