.App {
  text-align: center;
  border-radius: 43px;
  width: 75%;
  margin: auto;
  box-sizing: border-box;
  background-color: #862897;
}

@media (max-width:600px){
  .App{
    width: 100%;
    padding: 10px;
  }
}
